/* App.css */

/* Set background color for the entire webpage */
body {
  background-color: #ffffff; /* Light blue color */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: none;
  
}
